<div class="masthead"></div>
<div class="mini-guide-renderer"></div>
<div class="page-manager">
  <div class="contents">
    <div class="video-wrapper">
      <div class="video-thumbnail"></div>
      <div class="video-creator-thumbnail-wrapper">
        <div class="video-creator-thumbnail"></div>
        <div class="video-description-wrapper">
          <div class="video-description"></div>
          <div class="video-creator-id"></div>
          <div class="video-like-created-at"></div>
        </div>
      </div>
    </div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
    <div class="video-wrapper"></div>
  </div>
</div>